$tipoLetra: 'Bangers';

$fondoEncabezado: radial-gradient(white 100px, yellow 40%,black);
$fondoAmarillo: yellow;
$fondoNegro: black;

$colorSubtitulo: black;
$colorSubtitulo2: yellow;
$colorLateral: black;

$tamanoSubtitulos: 2.5rem;
$tamanioTexto: 1.5rem;

$bordeAmarillo: yellow solid 4px;
$bordeNegro:black solid 4px;
$bordeEncabezado: black dashed 10px;

$tamanosLetra: (subtitulo: 2.5rem, texto: 1.5rem);


