@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Press+Start+2P&family=Rubik+Beastly&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "encabezado encabezado encabezado"
    "add-2 add-2 add-1"
    "contenido contenido lateral"
    "pie      pie        pie ";
}
.contenedor .add-1,
.contenedor .add-2,
.contenedor .encabezado,
.contenedor .lateral,
.contenedor .pie,
.contenedor .contenido {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
}
.contenedor .encabezado {
  grid-area: encabezado;
  display: flex;
  justify-content: space-between;
  font-family: 'Bangers';
  border: black;
  border-style: dashed;
  border-width: 10px;
  font-size: 2rem;
  color: black;
  align-items: center;
  background-image: radial-gradient(white 100px, yellow 40%,black);
 
}
.contenedor .contenido {
  background-color: yellow;
  grid-area: contenido;
  color: black;
  display: flex;
  font-family: 'Bangers';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: black;
  border-style:solid;
  border-width: 4px;

}

.contenedor .lateral {
  grid-area: lateral;
  background-color: black;
  display: flex;
  font-size: 1.2rem;
  color: yellow;
  font-family: 'Bangers';
  flex-direction: column;
  align-items: center;
  border: yellow;
  border-style: solid;
  border-width: 4px;
}

.contenedor .add-1 {
  grid-area: add-1;
  background-color: yellow;
  display: flex;  
  justify-content: space-evenly;
  border: black;
  border-style: solid;
  border-width: 4px;

}

.contenedor .add-2 {
  grid-area: add-2;
  background-color: black;
  color:black;
  height: 90px;
  font-family: 'Bangers';
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: yellow;
  border-style: solid;
  border-width: 4px;
}

#miImagen:hover{
    
  transform: scale(1.2, 1.2); 
}

.nav{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Bangers';

}



.contenedor .pie {
  grid-area: pie;
  background-color: yellow;
  color: white;
  border: black;
  border-style: solid;
  border-width: 4px;

}
                                         
                                                                    
@keyframes whats {            
  0% {
    width: 10px;
    height: 10px;
  }
  25% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  75% {
    width: 40px;
    height: 40px;
    background-color: tomato;
  }
  100% {
    width: 45px;
    height: 45px;
    background-color: turquoise;
  }
}


@media screen and (max-width: 768px) {
  .contenedor {
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "encabezado encabezado"
      "add-1 add-1"
      "add-2 add-2"
      "contenido contenido "
      "lateral lateral"
      "pie      pie";
  }
}

@media screen and (max-width: 480px ) {
  .contenedor {
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;    
    grid-template-areas:
      "encabezado"
      "add-1"
      "add-2"
      "contenido"
      "lateral"
      "pie";
  }

  .contenedor .add-1 {
    grid-area: add-1;     
  }
  .contenedor .add-2 {
    grid-area: add-2;     
  }


  .contenedor .pie {
    grid-area: pie;
    color: white;
  }
}

.cuadradoProductos{
	width: 300px;
	height: 200px;
  padding: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
	background-color: grey;
	position: relative;
  display: flex;
  align-items:center;
  font-size: 0.8rem;
  flex-direction: column;
  border: black;
  border-style: solid;
  border-width: 4px;
}

.cuadradoNews{
	width: 180px;
	height: 200px;
  padding: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
	background-color: gray;
  color: black;
	position: relative;
  display: flex;
  align-items: center;
  border:yellow;
  border-style: solid;
  border-width: 4px;	
}
ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
}

.nav li a {
  background-color:#000;
  color:yellow;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}

.botonsoporte img {
  position: absolute;
  top: 30px;
  width: 50px;
  height: 50px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: black;
  color: white;
  border-radius: 50px;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  box-sizing: content-box;
  animation-name: soporte; 
  animation-iteration-count: infinite;
  animation-timing-function: ease;                                  
  animation-duration: 2.5s;
  animation-delay: 1s;                                                                               
}                                                          
                                                                    
@keyframes soporte {             
  0% {
    width: 10px;
    height: 10px;
  }
  10% {
    width: 20px;
    height: 20px;
  }
  20% {
    width: 30px;
    height: 30px;
  }
  30% {
    width: 40px;
    height: 40px;
    background-color: yellow;
  }
  40% {
    width: 45px;
    height: 45px;
    background-color: black;
  }
  50% {
    width: 45px;
    height: 45px;
    background-color: yellow;
  }
  60% {
    width: 45px;
    height: 45px;
    background-color: black;
  }
  70% {
    width: 45px;
    height: 45px;
    background-color: yellow;
  }
  80% {
    width: 45px;
    height: 45px;
    background-color: black;
  }
  90% {
    width: 45px;
    height: 45px;
    background-color: yellow;
  }
  100% {
    width: 45px;
    height: 45px;
    background-color: black;
  }
}